<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
  <body>

	<nav>
  	<ul>
	 <li><a href="{{ url_for('index') }}">Home</a></li>
  	 <li><a href="{{ url_for('about') }}">About</a></li>
   	 <li><a href="{{ url_for('contact') }}">Contact</a></li>
  	</ul>
	</nav>

    <div id="contact">
      <h2 class="contact-h2">Contact Us</h2>
      <form class="contact-form"  id="contact-form" action="/send-email" method="POST">
        <label for="name">Name:</label>
        <input class="contact-input" type="text" id="name" name="name" required>

        <label for="email">Email:</label>
        <input class="contact-input" type="email" id="email" name="email" required>

        <label for="message">Message:</label>
        <textarea class="contact-textarea" id="message" name="message" required></textarea>

        <button class="contact-button" type="submit" name="submit">Send</button>
      </form>
    </div>

<footer>
  <div class="footer-container">
    <div class="social-icons">
      <a href="https://www.facebook.com/zahidul.snigdho/" target="_blank">
        <img src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-facebook-square2-512.png" alt="Facebook Icon" width="40" height="40"  style="border-radius: 50%;">
      </a>

      <a href="https://github.com/Snigdho8869" target="_blank">
        <img src="https://i.ibb.co/sRB0xx6/download.png" alt="GitHub Profile" width="40" height="40"  style="border-radius: 50%;">
      </a>
    </div>
    <div class="rights-reserved">
      <p>All Rights Reserved &copy; 2023</p>
    </div>
  </div>
</footer>

  </body>
</html>
